/*==========
    FONTS
 ===========*/
 @import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Quicksand&family=Yanone+Kaffeesatz:wght@300;400&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
/*==============
    VARIABLES
 ===============*/
 :root{
	/* colors */
    --clr-pink: #ec41be;
	--clr-pinkLight: #f596db;
	--clr-pinkDark: #3f0630;
	--clr-blue: #17e4e8;
	--clr-blueLight: #96f3f5;
	--clr-blueDark: #063e3f;
    --clr-yellow:#ebef10;
    --clr-yellowLight: #f6f892;
    --clr-yellowDark: #404104;
	--clr-grey1: #d9d9d9;
	--clr-grey5: #737373;
	--clr-grey10: #262626;
	--ff-primary: "Orbitron", sans-serif;
	--ff-secondary: "Quicksand", cursive;
	--transition: all 0.3s linear;
	--spacing: 0.25rem;
	--radius: 0.5rem;
 }

/*=================
    GLOBAL STYLES
 ==================*/

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    font-family: var(--ff-primary);
    color: var(--clr-yellow);
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: var(--clr-yellow);
	cursor: pointer;
}

a:visited{
    color: var(--clr-yellowDark);
}

img{
    width: 100%;
    display: block;
}

h1, h2, h3, h4{
    letter-spacing: var(--spacing);
	text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
    transition: var(--transition);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 0.875rem;
}

p {
	margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 2.5rem;
	}

	h3 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1rem;
	}

	body {
		font-size: 1rem;
	}

	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

/*==========
    NAVBAR
 =========== */
 .nav-btn{
	position: fixed;
	top: 5%;
	left:5%;
	font-size: 2.5rem;
	z-index: 1;
	cursor: pointer;
	transition: var(--transition);
 }

 .nav-btn:hover{
	transform: scale(1.2)
 }
 .navbar{
	background: var(--clr-grey10);
	position: fixed; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
	transform: translateX(-100%);
	transition: var(--transition);
}

.showNav{
	transform: translate(0);
}

.navbar-header{
	text-align: right;
	padding-right: 1rem;
}

.nav-close{
	font-size: 2.5rem;
	cursor: pointer;
	color: #f29c9c;
	transform: var(--transition);
}

.nav-close:hover {
	color: #bb2525;
}

.nav-items {
	list-style-type: none;
}

.nav-link{
	display: block;
	font-size: 1.5rem;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	letter-spacing: var(--spacing);
	transition: var(--transition);
}

.nav-link:hover{
	background: var(--clr-pinkDark);
	color: var(--clr-yellowLight);
	padding-left: 1.5rem;
	border-left: 0.25rem solid var(--clr-pink);
}
@media screen and (min-width: 768px) {
	.navbar {
		width: 30%;
		max-width: 20rem;
	}
}
/*==========
    HEADER
 =========== */
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/cyberpunk.webp") center/cover no-repeat fixed;
    position: relative;
    overflow-x: hidden;
}
.header h1 {
	text-transform: uppercase;
}
.banner{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*===========
    ARTICLES
 ============ */
.scrolling-wrapper{
display: grid;
/* background: blue */
/* -webkit-overflow-scrolling: touch; */
}

.card{
	background: var(--clr-yellowDark);
	position: relative;
	height: 200px;
	width: 300px;
	margin: 2rem;
}

.article-text{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(245, 253, 0, 0.6);
	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, visibility .2s;
	padding: 0.25rem;
	color: var(--clr-yellowDark);
	height: 100%;
	font-size: 1rem;
	text-align: center;
}

.card:hover .article-text{
	visibility: visible;
	opacity: 1;
}

.card:hover h2 {
	visibility: hidden;
	opacity: 0;
	transition: var(--transition);
}