/*==========
FONTS
 ===========*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Quicksand&family=Yanone+Kaffeesatz:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/*==============
    VARIABLES
 ===============*/
:root {
  /* colors */
  --clr-pink: #ec41be;
  --clr-pinkLight: #f596db;
  --clr-pinkDark: #3f0630;
  --clr-blue: #17e4e8;
  --clr-blueLight: #96f3f5;
  --clr-blueDark: #063e3f;
  --clr-yellow: #ebef10;
  --clr-yellowLight: #f6f892;
  --clr-yellowDark: #404104;
  --clr-grey1: #d9d9d9;
  --clr-grey5: #737373;
  --clr-grey10: #262626;
  --ff-primary: "Orbitron", sans-serif;
  --ff-secondary: "Quicksand", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --shadow: 2px 0 2px rgba(0, 0, 0, 0.2);

}

/*=================
    GLOBAL STYLES
 ==================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #181818;
  font-family: var(--ff-primary);
  color: var(--clr-yellow);
  font-size: 2rem;
}

/* element global styles */
a {
  text-decoration: none;
  color: var(--clr-yellow);
  cursor: pointer;
}

a:visited {
  color: var(--clr-yellowDark);
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  transition: var(--transition);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/* end of element styles */

/* clearfix */
.clearfix::after,
.clearfix::before {
	content: "";
	clear: both;
	display: table;
}

/* container styles */
.content-divider {
	height: 0.5rem;
	background: linear-gradient(
		to left,
		var(--clr-yellowLight),
		#e9b949,
		var(--clr-yellow)
	);
}

.section-center{
  padding: 3rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1, 1fr);
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
}

.cyber-section{
	margin: 2rem;
}

.section-title h2{
	padding: 2rem;
	text-align: center;
}

.section-text p{
	padding: 2rem;
	text-align: center;
	line-height: 2.7rem;
  color: var(--clr-yellowLight);
}

.card {
  background: var(--clr-yellowDark);
  position: relative;
  height: 200px;
  width: 300px;
  margin: 0.7rem;
}
/* end of container/section */

/* header global styles */
.header{
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.header h1 {
  text-transform: uppercase;
  animation: glow 3s ease-in-out infinite alternate;
  color: var(--clr-yellowLight);
}

.banner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* end of header global styles */

/* button global styles */
.btn {
  padding: 1rem;
  margin: 2rem;
  font-family: var(--ff-primary);
  border: none;
  border-radius: 10%;
  background: var(--clr-yellow);
  color: var(--clr-grey10);
  cursor: pointer;
  text-transform: capitalize;
  transition: var(--transition);
  box-shadow: var(--shadow);
  font-size: 0.65em;
  font-weight: bold;
}

.btn:hover {
  background: var(--clr-yellowDark);
  color: var(--clr-yellowLight);
  opacity: 1;
}

.cancelbtn {
  padding: 0.7rem 1.4rem;
  background-color: #bb2525;
}

.signupbtn{
  padding: 0.7rem 1.4rem;
  background-color: #32CD32;
}

.cancelbtn, .signupbtn {
  border: none;
  border-radius: 10px;
  width: 100%;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}
/* end of button global styles */

/* scrollbar styles */
/* main scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: var(--clr-yellowDark);
    border-radius: 10px;
}

.scrolling-wrapper {
  overflow-x: scroll;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  padding: 2rem;
}

.scrolling-wrapper::-webkit-scrollbar {
  height: 00.5rem;
}

.scrolling-wrapper::-webkit-scrollbar-thumb{
  background: linear-gradient(
    to left,
		var(--clr-pinkLight),
		#e9b949,
		var(--clr-pink)
    );
    border-radius: 10px;
}

.styled-scrollbars::-webkit-scrollbar-track {
  background: none;
}
/* end of scrollbar styles */

/* form styles */
input[type=text], input[type=password] {
  width:100%;
  padding: 0.8rem;
  margin: 0.2rem 0 1.3rem 0;
  display: inline-block;
  border: none;
  background: none;
}

input[type=text]:focus, input[type=password]:focus {
  background-color:var(--clr-yellowLight);
  outline: none;
  box-shadow: var(--shadow);
}

input[type=checkbox] {
  margin-right: 1rem;
}

.form-control {
  margin: 0;
  fill: none;
  background: transparent;
  border: none;
  border-radius: 10px;
  font-family: var(--ff-primary);
  color: var(--clr-grey10);
  box-shadow: 0px 5px 10px rgba(238, 255, 0, 0.096);
  transition: var(--transition);
}

.form-label {
  color: var(--clr-yellowLight);
}
/*============
  ANIMATIONS
 ============= */

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--clr-yellowDark), 0 0 40px var(--clr-yellowDark), 0 0 50px var(--clr-yellowDark), 0 0 60px var(--clr-yellowDark), 0 0 70px var(--clr-yellowDark);
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 20px var(--clr-yellow), 0 0 30px var(--clr-yellow), 0 0 40px var(--clr-yellow), 0 0 60px var(--clr-yellow), 0 0 60px var(--clr-yellow), 0 0 70px var(--clr-yellow);
  }
}

/*==========
    NAVBAR
 =========== */
.nav-btn {
  position: fixed;
  top: 5%;
  left: 5%;
  font-size: 2rem;
  z-index: 1;
  cursor: pointer;
  transition: var(--transition);
  color: var(--clr-yellowLight);
}

.nav-btn:hover {
  transform: scale(1.2);
}

.navbar {
  background: var(--clr-grey5);
  position: fixed;
  height: 100%;
  left: -2px;
  bottom: 0;
  top: 0;
  z-index: 1;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: var(--transition);
}

.showNav {
  transform: translate(0);
}

.navbar-header {
  text-align: right;
  padding-right: 1rem;
}

.nav-close {
  font-size: 2.5rem;
  cursor: pointer;
  color: #f29c9c;
  transform: var(--transition);
}

.nav-close:hover {
  color: #bb2525;
}

.nav-items {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
}

.nav-link {
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}

.nav-link:hover {
  background: var(--clr-pinkDark);
  color: var(--clr-yellowLight);
  padding-left: 1.5rem;
  border-left: 0.25rem solid var(--clr-pink);
}

.nav-link:hover a {
  color: var(--clr-yellowLight);
}
@media screen and (min-width: 868px) {
	.navbar {
  display: flex;
  flex-wrap: nowrap;
	height: fit-content;
  width: 100vw;
	transform: none;
  box-shadow: none;
  background: var(--clr-grey5);
}
.nav-link{
  font-size: 1.2rem;
  display: inline-block;  
  padding: 1rem;
}
.nav-close, .nav-btn {
  visibility: hidden;
  opacity: 0;
}
}
/*==========
  HEADERS
 =========== */


.index-header{
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/cyberpunk.webp") center/cover no-repeat fixed;
}

.about-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/DALL·EcyberpunkCity1.png") center/cover no-repeat fixed;
}

.signup-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../images/DALL·EhumanCyborg1.png") center/cover no-repeat fixed;
}

/*==============
  HOME: ARTICLES
 =============== */

/* article customization */
.article-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
}


.card img {
  max-width: 300px;
  height: 200px;
}

.article-content h2{
	font-size: 1.7rem;
  margin: 0.5rem 0 0.5rem 0;
}

.article-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(245, 253, 0, 0.6);
  visibility: hidden;
  padding: 0.25rem;
  color: var(--clr-yellowDark);
  height: 100%;
  font-size: 1rem;
  text-align: center;
}

.card:hover .article-text {
  visibility: visible;
  opacity: 1;
  box-shadow: 2px 2px 2px 2px rgba(245, 253, 0, 0.6);
}

.card:hover h2 {
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);
}

.character-img{
  display: none;
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .article-container{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .scrolling-wrapper{
  position: relative;
  }

  .card {
    margin: 2rem;
  }

  .character-img{
    display: block;
    position: absolute;
    max-width: 400px;
    top: 100px;
    right: 100px;
    z-index: -1;
  }
}

/*==========
  ABOUT PAGE
 =========== */
.img-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.about-img {
  width: 400px;
}

.about-container{
  padding-top: 2rem;
}

.about-text p {
  color: var(--clr-yellowLight);
}

@media screen and (min-width: 868px) {
  .about-text p {
    font-size: 1.7rem;
  }
}
/*============
  SIGN UP PAGE
 ============= */
.signup-text  p{ 
  margin: 0;
  color: var(--clr-yellowLight);
}

.signupBtn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  place-items: center;
}


/*==========
  FOOTER
 =========== */
.footer {
	background: var(--clr-grey10);
	text-align: center;
}

.social-icon {
	color: var(--clr-yellowDark);
	font-size: 1.5rem;
	margin-right: 1rem;
	transform: var(--transition);
}

.social-icon:hover {
  color: var(--clr-yellowLight);
}

.footer-text {
  color: var(--clr-yellow);
  text-transform: uppercase;
  margin: 1rem;
}

